<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md bg-custom-header navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/img/faces.png" id="logo_image" alt="image showing logo" class="img-responsive"><!--</br>-->
      <span id="logo-text">MovieFinder</span>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">   
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" id="nav-link-login" href="#">Login</a>
        </li>                                     
        <li class="nav-item"> 
          <a class="nav-link" id="nav-link-signup" href="#">Sign Up</a>
        </li>
      </ul>
    </div>  
  </nav>

        <!--Search form for user-->
        <div class="container">
          <h1 id="search-title">Search</h1> 
            <button type="button" [class.d-none]="!title.dirty||title.untouched" 
                        class="search-criteria-item-button">x {{searchForm.value.title}}</button>
            <button type="button" [class.d-none]="!genre.dirty||genre.untouched" 
                        class="search-criteria-item-button">x {{searchForm.value.genre}}</button>
            <button type="button" [class.d-none]="!releaseDate.dirty||releaseDate.untouched" 
                        class="search-criteria-item-button">x {{searchForm.value.releaseDate}}</button>
            <button type="button" [class.d-none]="!rating.dirty||rating.untouched" 
                        class="search-criteria-item-button">x {{searchForm.value.rating}}</button>
            <button type="button" [class.d-none]="!duration.dirty||duration.untouched" 
                        class="search-criteria-item-button">x {{searchForm.value.duration}}</button>
            <button type="button" [class.d-none]="!actors.dirty||actors.untouched" 
                        class="search-criteria-item-button">x {{searchForm.value.actors}}</button>
            <button type="button" [class.d-none]="!directors.dirty||directors.untouched" 
                        class="search-criteria-item-button">x {{searchForm.value.directors}}</button>
           
          <!--{{ searchForm.value | json }} <br />
            {{ searchModel | json }} <br />  -->  
          <form #searchForm="ngForm"
                  name="mainform" class="form-container" >
            <div class="form-group">
              <label for="movie-title">Title</label>
              <input [(ngModel)]="searchModel.title" #title="ngModel" [class.is-invalid]="title.invalid"
                            type="text" id="movie-title-input" class="form-control form-control-sm" 
                            name="title" autofocus/>
              <span class="error" id="movie-title-note" value="" style="color:red"></span>        
            </div>
            
            <div class="form-group">
              <label for="genre">Genre</label>
              <select [(ngModel)]="searchModel.genre" #genre="ngModel" [class.is-invalid]="genre.invalid"
                          id="genre" class="form-control form-control-sm" name="genre">
                <option *ngFor="let genre of genres">{{genre}} </option>
                </select> 
            </div>
            
            <div class="form-group">
              <label for="release-date">Release Date Year(s)</label>
              <input [(ngModel)]="searchModel.releaseDate" #releaseDate="ngModel" [class.is-invalid]="releaseDate.invalid"
                          name="releaseDate" type="text" id="release-date-input" class="form-control form-control-sm" />
              <span class="error" id="release-date-note" value="" style="color:red"></span>
            </div> 
            <div class="form-group">
                <label for="rating">Rating</label>
                <select [(ngModel)]="searchModel.rating" #rating="ngModel" [class.is-invalid]="rating.invalid"
                          name="rating" id="rating" class="form-control form-control-sm" >
                  <option *ngFor="let rating of ratings">{{rating}} </option>
                </select>
            </div>
            <div class="form-group">
                <label for="duration">Duration (minutes)</label>
                <input [(ngModel)]="searchModel.duration" #duration="ngModel" [class.is-invalid]="duration.invalid"
                          name="duration" type="text" id="duration-input" class="form-control form-control-sm" /> 
               
             
              <span class="error" id="duration-note" value="" style="color:red"></span>
            </div> 
            <div class="form-group">
                <label for="actors">Actors</label>
                <input [(ngModel)]="searchModel.actors" #actors="ngModel" [class.is-invalid]="actors.invalid"
                          name="actors" type="text" id="actors-input" class="form-control form-control-sm" />
                <span class="error" id="actors-note" value="" style="color:red"></span>
            </div>  
            <div class="form-group">
                <label for="directors">Directors</label>
                <input [(ngModel)]="searchModel.directors" #directors="ngModel" [class.is-invalid]="directors.invalid"
                          name="directors" type="text" id="directors-input" class="form-control form-control-sm" />
              <span class="error" id="directors-note" value="" style="color:red"></span>
            </div> 

            <div class="search-button-class">
              <input type="button" id="search-button" value="Search" (click)="submitSearch()"/>
              </div>
          </form>
          
          
        </div>
        
        <script type="text/javascript">

          /* - verifies that:
                1. at least one item is entered to search
                2. release date is in the correct format (1990, 1990-2000, 1990s, 1990's, 90s, 90's) if entered
                3. duration is a positive number 
             - navigates to movie results page if inputs are valid
          */
          function submitSearch() {
            var movie = document.getElementById("movie-title-input").value;
            var release = document.getElementById("release-date-input").value;
            var genre = document.getElementById("genre").value;
            var rating = document.getElementById("rating").value;
            var duration = document.getElementById("duration-input").value;
            var actors = document.getElementById("actors-input").value;
            var directors = document.getElementById("directors-input").value;
            var tagged = false;

            // displays pop-up window if no search criteria is entered
            if (movie === "" && release === "" && genre === "select-genre" && rating === "select-rating" && duration === "" && actors === "" && directors === ""){
              alert("Please enter search criteria");
              return;
            }
            
            // returns true if duration is a positive number
            isValidDuration = (s)=> {return s.match(/^[0-9]+$/);};

            // returns true if date is in correct format -- 1990, 1990-2000, 1990s, 1990's, 90s, 90's
            isValidDate = (s) => {return s.match(/^([\t\s]*([12][0-9]{3}[s]?|[12][0-9]{3}'s|[12][0-9]{3}-[12][0-9]{3}|[0-9]{1}0s|[0-9]{1}0's)[\t\s]*)$/);};
            
            // displays error for user if date isn't in correct format
            if (release!="" && !isValidDate(release)){
              document.getElementById("release-date-note").innerHTML = "Please enter date in one of the following formats: 1990, 1990-2000, 1990s, 1990's, 90s, 90's";
              tagged = true;
            }

            // displays error for user if duration isn't in correct format
            if (duration!="" && !isValidDuration(duration)){
              document.getElementById("duration-note").innerHTML = "Please enter a non-negative value.";
              tagged = true;
            }

            // doesn't navigate to results page if at least one error in input
            if (tagged){
                return;
            }
            window.location.href = 'movie-results.html';
          }
          
           
      </script>

<router-outlet></router-outlet>
