<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md bg-custom-header navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/img/faces.png" id="logo_image" alt="image showing logo" class="img-responsive"><!--</br>-->
      <span id="logo-text">MovieFinder</span>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">   
          
            <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" id="nav-link-login" *ngIf="logged_in==true" (click)="navigateToHome()">Home</a>
                        <a class="nav-link" id="nav-link-login" *ngIf="logged_in==false" (click)="navigateToLogin()">Login</a>
                    </li>                                     
                    <li class="nav-item"> 
                        <a class="nav-link" id="nav-link-login" *ngIf="logged_in==true" (click)="navigateToProfile()">Profile</a>
                        <a class="nav-link" id="nav-link-login" *ngIf="logged_in==false" (click)="navigateToRegister()">Sign Up</a>
                    </li>
                </ul>
         
    </div>  
  </nav>
  <!--
  Display data received from the back end <br/>
  response data = {{responsedata|json}}
  <br/>
  <hr/>
  Data binding exercise 
  <br/>
  {{ searchForm.value | json }}
  <br/>
  {{ searchModel | json }} 
  <hr/>-->
        <!--Search form for user-->
        <div class="container">
          <div style="min-width:100%;">
            <span >    
                <h1 id="search-title" style="margin-left:0px;margin-bottom:0px;margin-top:0px;padding:0px;margin-right:auto;float:left">Search</h1>           
        </span>
          <span style="margin-left:10px;margin-top:2px;padding:0px;float:left">
          
          <button type="button" *ngIf="searchModel.title!=''" 
                    class="search-criteria-item-button">x {{searchForm.value.title}}</button>
          <button type="button" *ngIf="searchModel.genre!=''"
                    class="search-criteria-item-button">x {{searchForm.value.genre}}</button>
          <button type="button" *ngIf="searchModel.releaseDate!=''"[class.d-none]="releaseDate.invalid" 
                    class="search-criteria-item-button">x {{searchForm.value.releaseDate}}</button>
          <button type="button" *ngIf="searchModel.rating!=''"
                    class="search-criteria-item-button">x Rated {{searchForm.value.rating}}</button>
          <button type="button" *ngIf="searchModel.duration!=''"[class.d-none]="duration.invalid" 
                    class="search-criteria-item-button">x {{searchForm.value.duration}} minutes</button>
          <button type="button" *ngIf="searchModel.actors!=''"
                    class="search-criteria-item-button">x {{searchForm.value.actors}}</button>
          <button type="button" *ngIf="searchModel.directors!=''"
                    class="search-criteria-item-button">x {{searchForm.value.directors}}</button>
               </span>  
               </div>   
          <!--{{ searchForm.value | json }} <br />
            {{ searchModel | json }} <br />  -->  
            <br/>
          <form #searchForm="ngForm" action="http://localhost/Web-PL/movie-results.php" method="get"
                  name="mainform" class="form-container" >
          
            
              <div class="form-group">
              <label for="title">Title</label>
              <input [(ngModel)]="searchModel.title" #title="ngModel" [class.is-invalid]="title.invalid"
                            type="text" id="title" class="form-control form-control-sm" 
                            name="title" autofocus/>
              <span class="error" id="movie-title-note" value="" style="color:red"></span>        
            </div>
            
            <div class="form-group">
              <label for="genre">Genre</label>
              <select [(ngModel)]="searchModel.genre" #genre="ngModel" [class.is-invalid]="genre.invalid"
                          id="genre" class="form-control form-control-sm" name="genre">
                <option *ngFor="let genre of genres">{{genre}} </option>
                </select> 
            </div>
            
            <div class="form-group">
              <label for="release-date-input">Release Date Year(s)</label>
              <input [(ngModel)]="searchModel.releaseDate" #releaseDate="ngModel" [class.is-invalid]="releaseDate.invalid&&releaseDate.errors"
                          pattern="^([\t\s]*([12][0-9]{3}[s]?|[12][0-9]{3}'s|[12][0-9]{3}-[12][0-9]{3}|[0-9]{1}0s|[0-9]{1}0's)[\t\s]*)$"
                           minlength="1" name="releaseDate" type="text" id="release-date-input" class="form-control form-control-sm" />
              <small [ngStyle]="{'color':'red'}" *ngIf="releaseDate.invalid">
                  Please enter date in one of the following formats: 1990, 1990-2000, 1990s, 1990's, 90s, 90's.</small>
            </div> 
            <div class="form-group">
                <label for="rating">Rating</label>
                <select [(ngModel)]="searchModel.rating" #rating="ngModel" [class.is-invalid]="rating.invalid"
                          name="rating" id="rating" class="form-control form-control-sm" >
                  <option *ngFor="let rating of ratings">{{rating}} </option>
                </select>
            </div>
            <div class="form-group">
                <label for="duration">Duration Maximum (minutes)</label>
                <input [(ngModel)]="searchModel.duration" #duration="ngModel" [class.is-invalid]="duration.invalid"
                          pattern="^[0-9]+$" name="duration" type="text" id="duration-input" class="form-control form-control-sm" /> 
                <small [ngStyle]="{'color':'red'}" *ngIf="duration.invalid">
                          Please enter a non-negative digit.</small>
            </div> 
            <div class="form-group">
                <label for="actors">Actors</label>
                <input [(ngModel)]="searchModel.actors" #actors="ngModel" [class.is-invalid]="actors.invalid"
                          name="actors" type="text" id="actors-input" class="form-control form-control-sm" />
            </div>  
            <div class="form-group">
                <label for="directors">Directors</label>
                <input [(ngModel)]="searchModel.directors" #directors="ngModel" [class.is-invalid]="directors.invalid"
                          name="directors" type="text" id="directors-input" class="form-control form-control-sm" />
              
            </div> 

            <div class="search-button-class">
              <button class="btn btn-primary" id="search-button" value="Search" (click)="senddata(searchForm.value)">Search</button>
              </div>
          </form>
          
          
        </div>
<router-outlet></router-outlet>
