#profile-image{
    height: 8%;
    width: 8%;
    margin-left:80%;
    padding:0%;
}

#search-title{
    font-size:4vmin;
    color:#536f82;
}

.form-container{
    margin-left:30px;
    min-height:100%;
}

.form-group{
    font-size:2vmin;
    margin-bottom:5px; 
}

.search-button-class{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container{
    margin-left:10px;
    margin-top: 10px;
}
