#movie-result{
    height: 8%;
    width: 8%;
    margin-right: 20px;
}

.movie-item{
    padding-top: 2%;
    padding-left: 5%;
}
.col-md-4{
    display: block;
    margin: auto;
    text-align: center;
}

.vertical-center {
    display: flex;
    align-items: center;
  }

.container{
    margin-left:10px;
    margin-top: 10px;
}

label{
    margin-bottom:3px;
}

.form-group{
    font-size:2vmin;
    margin-bottom:5px; 
}
